body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

body button, i, a {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 20px 20px 20px;
    border: solid black 2px ;
    gap: 10px;
}

img {
    width: 100%;
    margin: 0%;
}

nav {
    text-align: end;
}

.home {
    color: red;
}

.services {
    color: gray
}

.contact {
    color: green
}

.noticias {
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.textos-cursivas {
    padding: 0px 0px 0px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.textos-cursivas .p1 {
    color: orange;
    font-style: italic;
}

.textos-cursivas .p2 {
    font-style: italic;
}
.textos-cursivas .p3 {
    font-size: small;
}

.estilos-textos {
    padding: 0px 0px 0px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.estilos-textos .p2 {
    background-color: yellow;
    width: fit-content;
}

.estilos-textos .p3 {
    text-decoration: underline;
}
.estilos-textos .p4 {
    text-decoration: line-through;
}

footer {
    text-align: center;
}

.fb {
    color: blue;
}

.ig {
    color: orangered
}

.yt {
    color: red
}

