body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

body button, i, a {
    cursor: pointer;
}

h1 {
    color: green;
    text-decoration: underline;
}

h2 {
    color: green;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 0 20px 20px 20px;
    border: solid green 2px ;
    gap: 15px;
}

nav {
    display: flex;
    width: 100%;
}

nav a i:hover {
    color: green;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

img {
    padding-left: 20%;
    
}

nav {
    text-align: end;
}

nav i {
    color: gray;
}

.informacion {
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 40%;
}

.noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.noticias div {
    width: 60%;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.noticias div img {
    width: 80%;
}
iframe {
    width: 50%;
}

footer {
    text-align: center;
}

.fb {
    color: blue;
}

.ig {
    color: orangered
}

.yt {
    color: red
}

.formulario {
    padding: 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

}


.container-contact img {
    width: 20%;
    margin: auto;
  
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px
}

form input, button {
    padding: 8px;
    outline: none;
}

button {
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: green;
    color: white
}

.container .iframes {
    display: flex;
    height: 300px;
    gap: 15px;
}

.iframes iframe {
    height: 100%;
}







