<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../css/styles-contact.css">
    <title>Contacto</title>
</head>
<body>

    <div class="container">
        <h2>Ingresa tus Datos</h2>
        <form action="">
            <input type="number" placeholder="Ingrese su cedula">
            <input type="text" placeholder="Ingrese sus nombres">
            <input type="text" placeholder="Ingrese sus apellidos">
            <input type="email" placeholder="Ingrese su E-mail">
            <input type="text" placeholder="Ingrese su usuario">
            <input type="password" placeholder="Ingrese su contraseña">
            <button>
                <i class="fa-solid fa-paper-plane"></i>
                Enviar
            </button>
        </form>
    </div>
    
</body>
</html>