<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Contacto</title>
</head>
<body>

    <div class="container">
        <nav>
            <div class="nav">
                <a href="../index.html"><i class="fa-solid fa-house home"></i></a>
                <a href="services.html"><i class="fa-solid fa-headset services"></i></i></a>
                <a href="#"><i class="fa-solid fa-phone contact"></i></i></a>
            </div>

            <img src="../images/logo-servientrega.png" alt="imagen">
        </nav>
      
        <div class="formulario">

            <h2>Ingresa tus Datos</h2>
            <form action="">
                <input type="number" placeholder="Ingrese su cedula">
                <input type="text" placeholder="Ingrese sus nombres">
                <input type="text" placeholder="Ingrese sus apellidos">
                <input type="email" placeholder="Ingrese su E-mail">
                <input type="text" placeholder="Ingrese su usuario">
                <input type="password" placeholder="Ingrese su contraseña">
                <button>
                    <i class="fa-solid fa-paper-plane"></i>
                    Enviar
                </button>
            </form>
        </div>

        <footer>
            <p>Pagina web realizada para fines netamente academicos por: Juan Lopez © 2025</p>
            <p>Encuentranos en nuestras redes sociales:</p>

            <div>
                <a href="https://www.facebook.com/Servientrega.ms/"><i class="fa-brands fa-facebook fb"></i></a>
                <a href="https://www.instagram.com/servientrega.ms/"><i class="fa-brands fa-square-instagram ig"></i></a>
                <a href="https://www.youtube.com/@ServientregaCentrodeSoluciones/videos"><i class="fa-brands fa-youtube yt"></i></a>
            </div>
        </footer>
    </div>
    
</body>
</html>