<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Servicios</title>
</head>

<body>
    <div class="container">

        <nav>
            <div class="nav">
                <a href="../index.html"><i class="fa-solid fa-house home"></i></a>
                <a href="#"><i class="fa-solid fa-headset services"></i></i></a>
                <a href="contact.html"><i class="fa-solid fa-phone contact"></i></i></a>
            </div>

            <img src="../images/logo-servientrega.png" alt="imagen">
        </nav>

        <h1>Noticias</h2>

        <div class="noticias">
            <div>
                <img src="../images/noticia1.png" alt="noticia 1">
                <p>Servientrega habilita Bre-B en Centros de Soluciones y contraentrega</p>
                
            </div>

            <div>
                <img src="../images/noticia2.png" alt="noticia 2">
                <p>Envíos a Popayán con Servientrega: tiempos de entrega, cobertura urbana y puntos de atención. Cotiza online</p>
            </div>

            <div>
                <img src="../images/noticia3.png" alt="noticia 3">
                <p>Envíos a Cartagena: logística y transporte para todos</p>
            </div>
        </div>
        
        <footer>
            <p>Pagina web realizada para fines netamente academicos por: Juan Lopez © 2025</p>
            <p>Encuentranos en nuestras redes sociales:</p>

            <div>
                <a href="https://www.facebook.com/Servientrega.ms/"><i class="fa-brands fa-facebook fb"></i></a>
                <a href="https://www.instagram.com/servientrega.ms/"><i class="fa-brands fa-square-instagram ig"></i></a>
                <a href="https://www.youtube.com/@ServientregaCentrodeSoluciones/videos"><i class="fa-brands fa-youtube yt"></i></a>
            </div>
        </footer>
    </div>
</body>

</html>