<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles-services.css">
    <title>Servicios</title>
</head>

<body>
    <div class="images">
        <img src="../images/image copy.png" alt="">
        <img src="../images/image.png" alt="">
    </div>

    <p>Nuestra marca se transforma. Cambiar nuestra “A” mayúscula por una “a” minúscula es el símbolo de algo más
        grande, de una nueva postura de marca para ser la aerolínea que necesitas hoy. Empezamos una nueva historia para
        ir a tu ritmo, dejando de mirarte desde arriba para mirarte de frente, de manera amigable y cercana. Hoy,
        abrimos nuestras alas a los que quieren volar porque el cielo les pertenece. Esta es una nueva avianca para
        todos.</p>
</body>

</html>